<!--<div class="entire">
<nav class="navbar navbar">
  <div class="navbar-header">
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <h3><font color='black'><b></b></font></h3>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li>
      <form class="form-inline"  #searchForm ="ngForm" style="padding-top:8px" role="search" (ngSubmit)="onSubmit(searchForm.value)">
      <div class="md-form form-group">
        <i class="fa fa-envelope prefix"></i>
        <input class="form-control" [(ngModel)]="search" placeholder="Search" name="search" ngModel >
    </div>
    <div class="md-form form-group">
    <button  mat-raised-button color="primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
   </form>
      </li>
      <li>
       <button mat-button style="margin-top:8px" class="cart"><i class="glyphicon glyphicon-shopping-cart edit"> </i></button></li>
      </ul>
     </div>
     </nav>
    <app-shopping-content [data]="data"></app-shopping-content>
  </div>-->





