<div class='container-fluid'>
<div class='row'>   
  <div class='col-sm-0'> </div>  
<div class='col-sm-12'>
    <carousel class='text-center'>
  <slide>
    <img class='img-main-size' src="http://static.store.ferrari.com/media/frontpage_slider/cache/0/9df78eab33525d08d6e5fb8d27136e95/v/e/vetrina-norm_new_1.jpg" alt="First slide" style="display: block; width: 100%;">
    
  </slide>
  
  <slide>
    <img class='img-main-size' src="http://static.store.ferrari.com/media/frontpage_slider/cache/0/9df78eab33525d08d6e5fb8d27136e95/v/e/vetrina-normal_214.jpg" alt="Second slide" style="display: block; width: 100%;">
    
  </slide>
 
  </carousel>
</div>
<div class='col-sm-0'> </div>  
</div>
</div>

