<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="animated bounceInDown">
            <div class="modal-content img1">

                <div class="modal-header"  >
                    <div class="animated slideInDown">
                        <h4 class="modal-title" id="header1"></h4>
                    </div>
                </div>
                <div class="animated slideInLeft">
                    <div class="modal-body" id="header2" >
                        <!--<pre>{{this.eventDescription}}  </pre>-->

                    </div>
                </div>
                <div class="animated slideInRight">
                    <div class="modal-footer"  >
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="background1" style="color:white">Close</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>