<div class="row">
  <div id="Photo" class="container-fluid">
    <div class="col-sm-12">
  <div>
    <h1 style="color:red;font-size:30px;text-align:center;padding-bottom:50px">GALLERY</h1>
  </div>
    </div>
   <div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img6.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
<div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img2.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
<div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img3.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
<div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img4.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
<div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img5.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
<div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img7.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
   <div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img1.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div>
   <div class="col-sm-3"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/img8.jpg" class="image-size" alt="Photo of a Shiba Inu">
  
  
</mat-card></div> 
 
  
</div>
</div>