<div class="row">
  <div id="Shop" class="container-fluid">
    <div class="col-sm-12">
  <div>
    <h1 style="color:red;font-size:30px;text-align:center;">ONLINE SHOPPING</h1>
  </div>
    </div>
    
  <div class="col-sm-2">

  
  <img mat-card-image src="../../../assets/images/shop1.jpg" class="img-responsive" alt="Photo of a Shiba Inu" >

    <p style="text-align:center">
      Jackets
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.10,000
    </p>

  

    </div>
    <div class="col-sm-2">
      
	
  
  <img mat-card-image src="../../../assets/images/shop2.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
  
    <p style="text-align:center">
      Caps
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.1,000
    </p>
  
  

    </div><div class="col-sm-2">
      

  
  <img mat-card-image src="../../../assets/images/shop3.jpg" class="img-responsive" alt="Photo of a Shiba Inu">

    <p style="text-align:center">
      Shoes
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.5,000
    </p>

  

    </div>
		<div class="col-sm-2">
      

  
  <img mat-card-image src="../../../assets/images/shop4.jpg" class="img-responsive" alt="Photo of a Shiba Inu">

    <p style="text-align:center">
      T-Shirt
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.5,000
    </p>

  

    </div><div class="col-sm-2">
      

  
  <img mat-card-image src="../../../assets/images/shop5.jpg" class="img-responsive" alt="Photo of a Shiba Inu">

   <p style="text-align:center">
      HeadSet
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.5,000
    </p>

  

    </div><div class="col-sm-2">
      

  
  <img mat-card-image src="../../../assets/images/shop6.jpg" class="img-responsive" alt="Photo of a Shiba Inu">

    <p style="text-align:center">
      Perfume
    </p>
		<p class="txt" style="text-align:center;">
      Price : Rs.1,000
    </p>

  

    </div>
</div>
</div>