<div class="row">
  <div id="Video" class="container-fluid">
  <div class="col-sm-12">
  <div>
    <h1 style="color:red;font-size:30px;text-align:center;padding-bottom:50px">EXCLUSIVE VIDEOS</h1>
  </div>
    </div>
    <div class="col-sm-5">
      <div class="row"></div>
      <div class="col-sm-12"></div>
      <div class="col-sm-12"></div>
      <div class="col-sm-12"></div>
      <div class="col-sm-12">		
      <p style="color:black;font-size:18px;text-align:justify;">Ferrari, the new limited-edition special series car from the Prancing Horse, has been unveiled at the Geneva International Motor Show 2017. The HY-KERS system and a carbon-fibre chassis are just two of the innovations sported by the new arrival.
    </p>
</div>

      </div>
  <div class="col-sm-7" style="padding-bottom:20px;">
	<!--<iframe height="345" src="https://ferrari-cdn.thron.com/static/California_t_lancio-ufficiale_YT-2000_UWEQPO.mp4?xseo=">

</iframe>-->
<video controls class="vedio">
    <source src="https://ferrari-cdn.thron.com/static/California_t_lancio-ufficiale_YT-2000_UWEQPO.mp4?xseo=" type="video/mp4">
</video>
    </div>
    
</div>
</div>