<div class="row">
  <div id="Events" class="container-fluid">
  <div class="col-sm-12">
  <div>
    <h1 style="color:red;font-size:30px;text-align:center;padding-bottom:50px;">EVENTS</h1>
  </div>
    </div>
    
  <div class="col-sm-4">

  
  
<img src="../../../assets/images/china.svg" alt="Cinque Terre">
    <p style="color:red;font-size:20px;text-align:center;padding-top:35px;padding-bottom:20px;">
    CHINESE GRANDPRIX
    </p>
		<p class="txt" style="text-align:center;">
      Racer 1:        Sebastian Vettel<br>
Racer 2:        Felipe Massa<br>
Total Distance: 305.256<br>
Total laps:     56 <br>
    </p>

  

    </div>
    <div class="col-sm-4">
      
	
  
  
  <img src="../../../assets/images/bahrain.svg" alt="Cinque Terre">
    <p style="color:red;font-size:20px;text-align:center;padding-top:35px;padding-bottom:20px;">
    BAHRAIN GRANDPRIX
    </p>
		<p class="txt" style="text-align:center;">
      Racer 1:        Kimi Räikkönen<br>
Racer 2:        Felipe Massa<br>
Total Distance: 308.238<br>
Total laps:     57<br>
    </p>
  
  

    </div><div class="col-sm-4">
      

  
  
<img src="../../../assets/images/canada.svg" alt="Cinque Terre">   
    <p style="color:red;font-size:20px;text-align:center;padding-top:35px;padding-bottom:20px;">
    CANADIAN GRANDPRIX
    </p>
		<p class="txt" style="text-align:center;">
      Racer 1:        Fernando Alonso<br>
Racer 2:        Sebastian Vettel<br>
Total Distance: 305.27<br>
Total laps:     70<br>
    </p>

  

  </div>
		
</div>
</div>