<div class="row">
  <div id="History" class="container-fluid">
    <div class="col-sm-12">
  <div>
    <h1 style="color:red;font-size:30px;text-align:center;padding-bottom:50px">HISTORY</h1>
  </div>
    </div>
   <div class="col-sm-6"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/Australian.jpg" class="image-size" alt="Photo of a Shiba Inu">
  <p style="color:red;font-size:20px;text-align:center;padding-top:20px;padding-bottom:20px;">
    AUSTRALIAN GRANDPRIX
    </p>
  
</mat-card></div>
<div class="col-sm-6"><mat-card class="example-card">
  
  <img mat-card-image src="../../../assets/images/Brazilian.jpg" class="image-size" alt="Photo of a Shiba Inu">
  <p style="color:red;font-size:20px;text-align:center;padding-top:20px;padding-bottom:20px;">
    BRAZILIAN GRANDPRIX
    </p>
  
  
</mat-card></div>
  
</div>
</div>