#Drivers{
    padding-top:20px;
    padding-bottom:50px;
    height:auto;
    background: #f7f7f7;
}
.img-rounded{
  height:500px;
  width:100%;
}
.text{
  padding-top:50px;
}
@media only screen and (max-width: 414px) {
   .text {
        padding-top:0px;
    }
}