html, body {
  height: 100%;
  width: 100%;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}
.container-fluid{
 overflow-y: hidden;
 overflow-x: hidden;
}
