<div class="container-fluid">
  <div class="row">
    <!--<div class="col-sm-12">-->
    <app-corousel></app-corousel>
  </div>
</div>
<!--</div>-->
<!--<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="645">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
          <span class="icon-bar"></span>                        
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#Events" style="color:white">EVENTS</a></li>
          <li><a href="#History" style="color:white">HISTORY</a></li>
          <li><a href="#Drivers" style="color:white">DRIVERS</a></li>
          <li><a href="#Photo" style="color:white">PHOTO</a></li>
          <li><a href="#Video" style="color:white">VIDEO</a></li>
          <li><a href="#Shop" style="color:white">SHOP</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>-->
<div class="container-fluid">
  <div class="row">
<div class="col-sm-12">
  <app-news></app-news>
</div>
<div class="col-sm-12">
  <app-history></app-history>
</div>
<div class="col-sm-12">
  <app-drivers></app-drivers>
</div>
<div class="col-sm-12">
  <app-photo></app-photo>
</div>
<div class="col-sm-12">
  <app-video></app-video>
</div>

<div class="col-sm-12">
  <app-shop></app-shop>
</div>
</div></div>